/* HTML *****************************************/
*
{
	margin:0;
	padding: 0;	
	font-family: 'aaarghnormal';
}
/* BODY *****************************************/
body
{
	display: flex;
	flex-direction: column;
	background-image: URL(graphy.png);
	background-color: #e0e5e1;
}

/* HEADER  **********************************/
header 
{
	background-color: #031b47;
	background-image: url(dark-circles.png);
	padding-top: 1%;
	padding-bottom: 0.5%;
	border-bottom: 7px solid #ff5900;
}
header div
{
	display: flex;
	justify-content: flex-end;
	align-items: baseline;
	margin: 0%;

}
h1
{
	font-size: 6vw;	
	text-shadow: 1px 1px 42px #fffdf6;
	color: #a5b5a6;
}
header div h2
{
	margin-left: 3vw;
	font-size: 2vw;
	color: #a5b5a6;
}
header h2
{
	text-align: end;
	padding-right: 5%;
	margin-top: 2.5%;
	font-size: 2vw;
	color: #fffdf6;
}
/* CONTACTS *********************************************/
.contacts
{
	position: absolute;
	margin: 0.5vw;	
}
.contacts img
{
	width: 27px;
	height: auto;
	filter: invert(81%);
}
/* PHOTO IDENTITE ***************************************/
.photoIdentité img
{
	width: 15vw;
	height: auto;
	border-radius: 7.5vw;
	box-shadow: 5px 5px 27px gray;
	background-color: #fffdf6;
}
.photoIdentité
{
	margin-top: 5vw;
	margin-left: 4vw;
	position: absolute;
}

/* MAIN *************************************************/
main
{
	display: flex;
	flex-wrap: wrap;
	height: 100;
}

/* SOFT SKILLS ******************************************/
.softSkills section h3
{
	padding-top: 15px;
	border-bottom: 1.5px solid gray;
	padding-bottom: 3px;
	font-size: 22px;
	margin-bottom: 15px;
}

.savoir-etre img
{
	width: 18vw;
	/*! margin-top: 2vw; */
	/*! margin-bottom: 2vw; */
}
.softSkills
{	
	background-color: #b7c5b8;
	padding: 6vw 2vw 2vw 2vw;		
	width: 20%;
}
.aPropos p
{
	font-size: 21px;
	margin-top: 2vw;
	margin-bottom: 2vw;
}
.contacts div
{
	display: flex;
	width: 105%;
	align-content: baseline;
	justify-content: space-between;
	margin-bottom: 15px;
	margin-top: 2vw;
}
.contacts p
{
	width: 88%;
}

/* HARD SKILLS ******************************************/
#hardSkills
{
  display: flex;
  justify-content: flex-end;
	width: 75.5%;
	background-image: url(motiveBleu.png);
	background-origin: border-box;
	background-repeat: no-repeat;
	background-position: center top;
}
#hardSkills section
{
	display: flex;
	background-color: rgb(105, 113, 106);
	width: 45px;
	overflow: hidden;
	transition: 3s;
	box-shadow: -6px -1px 9px #0c000c;
}
h4
{
	transform:rotate(-90deg);
	font-size: 29px;
	color: #fffdf6;
	text-shadow: 1px 1px 2px gray;
	padding-top: 23px;   
}
h5
{
	margin: 2vw;
	font-size: 23px;
	border-bottom: 1px solid #869086;
	padding-bottom: 0.5vw;
}

/* --------------Compétences ----------------------------- */
#competences h4
{
	height: 220px;
}
#competences div
{	
	width: 100%;
	margin-left: -5vw;
}
#competences img
{
	width: 34vw;
	margin: 1vw 0% 1vw 20%;
}
/* -------------- Outils ---------------------------------- */
#outils h4
{
	height: 116px;
	margin-top: 222px;
}
#outils h5
{
	margin-bottom: 2vw;
	margin-top: 3vw;
}
#outils div
{
	margin-top: 0vw;
	width: 100%;
	margin-left: 0vw;
	background-color: rgb(105, 113, 106);
	padding-top: 2vh;
}
.organisation, .langages, .logiciels, .cms
{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}


/* --------------- Projets --------------------------------- */
#projets h4
{
	height: 138px;
	margin-top: 333px;
}
#projets div
{
	width: 100%;
	margin-top: 3vw;
	margin-left: -2vw;
}
#projets div div
{
	display: flex;
	justify-content: space-between;
	width: 96%;
	align-items: first baseline;
	margin-bottom: 15px;
	border-bottom: 1px solid #869086;
}
#projets div div h5
{
	margin: 0vw;
	border-bottom: 1;
	
}
#projets div h6
{
	font-size: 17px;
	margin-bottom: 7px;
}
#projets p
{
	margin-bottom: 5px;
}

/* ---------------- Parcours -------------------------------- */
#parcours h4
{
	height: 163px;
	margin-top: 474px;
}
#parcours div
{
	margin: 0vw 0vw 0 -4vw;
	background-color: rgb(105, 113, 106);
	padding-top: 1vh;
}
.parcourG
{
	width: 100%;
	height: auto;
}
.parcourP
{
	display: none;
}

/* EFFETS ******************************************************/
#hardSkills section:hover, #hardSkills section:focus
{
  	width: 100%;
	height: auto;
	transition: 3s;	
}
/*******************************************************************
***** MEDIA QUERY *************************************************/

@media all and (max-width: 1047px)
{
	/* ---- Header -------------------------------------------------*/
	header
	{
		border-bottom: 3px solid #ff5900;
	}
	h1
	{
		font-size: 7vw;
	}
	header h2
	{
		font-size: 17px;
	}

	/* -----SoftSkills ---------------------------------------------*/
	p, .aPropos p
	{
		font-size: 17px;
	}
	.softSkills 
	{
		background-color: #b7c5b8;
		padding: 6vw 2vw 2vw 2vw;
		width: auto;
	}
	.savoir-etre img 
	{
		width: 43%;
		margin-left: 22vw;
	}

	/* -----HardSills-----------------------------------------------*/
	.parcourG
	{
		display: none;
	}
	.parcourP
	{
		display: initial;
		width: 50%;
		height: auto;
		margin-top: 2vh;
		margin-left: 18vw;
		padding-top: 2vw;
	}
	#hardSkills
	{
		display: initial;
		width: 100%;
		background-image: none;
	}
	#hardSkills section
	{
		display: initial;
		width: auto;
		box-shadow:none;
	}
	#competences div
	{
		width: 100%;
		margin-left: auto;
		background-color: rgb(105, 113, 106);
		padding-top: 2vh;
	}
	#competences h4, #outils h4, #projets h4, #parcours h4
	{
		transform: none;
		font-size: 25px;		
		color: #fffdf6;		
		text-shadow: 1px 1px 2px gray;		
		padding-top: 6px;		
		height: 30px;
		padding: 15px;	
		margin-top: 7vw;
		background-color:  #ff5900;
		text-align: end;	
	}
	#competences img 
	{
		width: 60%;		
		height: auto;	
	}

	#outils h5, #projets h5
	{
		font-size: 18px;
	}
	#projets div
	{
		margin-left: 0vw;
		background-color: rgb(105, 113, 106);
		padding-left: 1vw;
		/*! padding-bottom: 2vw; */
		margin-top: -1vw;
		padding-top: 2vh;
	}
	#projets div div p 
	{
		font-size: 12px;
	}
	#projets a 
	{
		font-size: 12px;
	}
	#projets p 
	{
		/*! margin-top: -23px; */
	}
	#projets div div h5
	{
		border-bottom: none;
		margin-top: 30px;
	}	

	/* ----Contact -----------------------------------------------*/
	.contacts img 
	{
		width: 21px;
		height: auto;	
	}
}

@media all and (max-width: 476px)
{
	.photoIdentité
	{
		width: 15vw;
		height: 15vw;
		background-image: url(identiteC4.jpg);
		background-size: contain;
		border-radius: 7.5vw;
		border: 1px solid #fffdf6;
		position: absolute;
		box-shadow: 5px 5px 27px gray;
		margin-top: 22vw;
		margin-left: 77vw;
	}
	.savoir-etre img 
	{
		width: 82vw;
		margin-top: 2vw;
		margin-bottom: 2vw;
		margin-left: 2vw;
	}
	#competences img 
	{
		width: 98vw;
		margin: 2vw 0vw 2vw 1vw;	
	}
	#outils img 
	{
		width: 16vw;
		height: auto;
		margin: 2vw;
	}
	.parcourP
	{
		display: initial;
		width: 100%;
		height: auto;
		margin-top: 2vh;
		margin-left: 5vw;
		padding-top: 2vw;
	}

}
